.navbar {
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.links {
  display: none;
  list-style: none;
  padding: 0;
  gap: 1em;
}

.links > li > a {
  color: var(--gray-violet);
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

.links > li > a:hover {
  color: var(--dark-violet);
}

.wideScreenButtons {
  display: none;
  margin-left: auto;
}

.title {
  font-size: 2.5rem;
  color: var(--dark-violet);
}

.menu {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--gray-violet);
}

.button {
  padding: 1em;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 700;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.navigationMenu {
  position: absolute;
  z-index: 999;
  width: 330px;
  border-radius: 10px;
  bottom: 0;
  left: 50%;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
  transform: translate(-50%, 100%);
  list-style: none;
  background-color: var(--dark-violet);
}

.navigationMenu > * {
  width: 100%;
}

.navigationMenu > li {
  text-align: center;
  padding: 0.5em;
}

.navigationMenu > li:last-of-type {
  border-bottom: 1px solid var(--gray-violet);
  padding-bottom: 1em;
}

.navigationMenu > li > a {
  color: white;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .navbar {
    justify-content: flex-start;
  }

  .wideScreenButtons {
    display: flex;
  }

  .links {
    display: flex;
    margin-left: 3em;
  }
  .button {
    color: var(--gray-violet);
    padding: 0 2em;
  }

  .button:hover {
    color: var(--dark-violet);
  }

  .menu {
    display: none;
  }
}
